#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  user-select: none;

}

h2 {
  font-size: 2.25rem;
  padding: 0;
  margin: 0;
}

.calculator-container {
  border: solid 5px #0C2D57;
  border-radius: 5px;
  background-color: #0C2D57;
}

.result-container {
  text-align: right;
  padding: 15px 35px;
  border: solid 1px gray;
  background-color: beige;
  min-height: 125px;
  margin: 5px;
  border-radius: 5px;
}

/* Creating grid for this.  */
.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25px;
  margin: 5px;
  padding: 15px 35px;
  border: solid 1px black;
  background-color: #EFECEC;
  border-radius: 5px;

}

.button:active {
  background-color: #eecdcd;
}

.zero {
  grid-column: span 2;
  margin: 5px;
  padding: 15px 35px;
  border: solid 1px black;
  background-color: #EFECEC;
  max-width: 100%;
}

.upper {
  background-color: #FC6736;
  font-weight: 700;
  color: white;
}



.operator {
  background-color: #E6BAA3;
  font-weight: 700;
}
